* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;

}

header {
    border: 2px solid black;
}

.row {
    border: 2px solid  black;
    display: flex;
    justify-content: space-evenly;
}

.boxes {
    border: 2px solid green;
    padding: 5%;
    background-color: green;
}

#display {
    border: 2px solid black;
}

.box {
    border: 2px solid green;
}

#calculator {
    margin: 12%;
}

#equals {
    border: 2px solid green;
    padding: 5%;
    background-color: green;
}

#clear {
    border: 2px solid green;
    padding: 5%;
    background-color: green;
}